---
---
html, body {
  height: 100%;
}
body {
  text-align: center;
}
#landing {
  padding: 20vh 0;
}
section {
  height: 100vh;
}
.img-circle {
  transition: .3s ease;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-circle:hover {
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.22), 0 6px 20px 5px rgba(0, 0, 0, 0.2);
}

