/* override browser defaults */

a {
  text-decoration: none;
}


/* main styles */

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.social-media {
  max-width: 256px;
  padding: 1em;
}

.social-media a {
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.social-media .icon {
  height: 1.5em;
  width: 1.5em;
}
