/* override browser defaults */

a {
  text-decoration: none;
}


/* main styles */

html, body {
  font-family: 'Major Mono Display', monospace;
}
.max-width-sm {
  max-width: 256px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-block {
  display: block;
}

.p-1 {
  padding: 1em;
}

.social-media a {
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.social-media .icon {
  height: 1.5em;
  width: 1.5em;
}
